:root {
  --fg-color: rgb(253, 246, 227);
  --fg-color-dim: rgb(139, 131, 131);
  --fg-color-disabled: rgba(139, 131, 131, 0.59);
  
  --gray: rgb(26, 26, 26);
  --gray-a75: rgba(26, 26, 26, 0.75);
  --light-gray: rgb(36, 36, 36);
  --dark-gray: rgb(16, 16, 16);
  --dark-gray-a75: rgba(16, 16, 16, 0.75);
  
  --c-warning: rgb(255, 117, 51);
  
  color-scheme: dark;
  color: var(--fg-color);
  background-color: black;
  background-position: center;
  background-attachment: fixed;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  line-height: 1.5em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: start;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.nobreak {
  white-space: nowrap !important;
}

.big-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  color: var(--fg-color);
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 8px solid rgba(0, 0, 0, 0.75);
  background-clip: padding-box;
}

.big-link p {
  font-size: large;
  margin: 8px auto 0 auto;
  padding: 0;
}

.page-break {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
  background-clip: padding-box;
}
.page-break h1,
.page-break h2,
.page-break h3 {
  margin: 0;
}
.page-break hr {
  border-color: #4b4945;
  width: 100%;
}
.page-break hr:last-of-type {
  width: 80%;
}

a {
  font-weight: 500;
  color: aqua;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
a:visited {
  color: #dda0dd;
}

h1 {
  font-size: xx-large;
  line-height: 1em;
  text-align: center;
  margin: 10px;
}
h1 + h2 {
  font-size: 15pt;
  margin-top: 0;
  text-align: center;
}

span.line {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
li {
  text-align: left;
}


nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: left;
  gap: 8px;
  text-align: left;
}

nav>a {
  background-color: #000000cc;
  display: inline-flex;
  height: 1em;
  line-height: 1em;
  margin: 8px 0 0 0;
  border: 3pt solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 0 0.6em;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav>a.active {
  transform: skew(-16deg);
}

.banded-menu {
  display: flex;
  float: left;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  gap: 2px;
  overflow: scroll;
}
.banded-menu::-webkit-scrollbar {
  display: none;
}
.banded-menu > a {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: none;
  font-weight: 500;
  background-color: #202020;
  color: var(--fg-color);
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  /* overflow: hidden; */
}
.banded-menu > a:hover {
  color: #5c60a7;
  background-color: #3d3d3d;
}
.banded-menu > a:visited {
  color: var(--fg-color);
}
.banded-menu > a.curr-path {
  background-color: rgb(61, 60, 57);
}


.page {
  background-color: var(--dark-gray);
  color: var(--fg-color);
  max-width: 500pt;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 8px solid var(--dark-gray-a75);
  background-clip: padding-box;
}

.page aside {
  background-color: var(--gray-a75);
  margin: 0;
  padding: 10pt 20pt;
  border-radius: 16pt;
  border: 4px solid var(--gray);
}


button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--gray);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
.button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.button-outlined {
  display: inline-flex;
  background-color: transparent;
  color: var(--fg-color);
  border: 2px solid var(--fg-color);
  border-radius: 8px;
  margin: 5px;
  padding: 5px 8px;
  align-items: center;
  justify-content: center;
}

.button-outlined:disabled {
  color: var(--fg-color-disabled);
  border: 2px solid var(--fg-color-disabled);
}

.button-outlined:visited {
  color: var(--fg-color);
  border: 2px solid var(--fg-color);
}

.toggle-bg-v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-self: center;
  /*align-self: center;*/
  background-color: var(--light-gray);
  padding: 2px 3px;
  margin: 3px;
  border-top: 2px solid var(--dark-gray);
  border-bottom: 2px solid var(--gray);
  border-radius: 12px;
  gap: 4px;
}
.toggle-bg-v a,
.toggle-bg-v button {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  background-color: rgb(48, 48, 48);
  color: #dddddd;
  margin: 3px;
  padding: 2px 10px 2px 4px;
  border-radius: 10px;
  border-top: 2px solid rgb(63, 63, 63);
  border-bottom: 2px solid rgb(42, 42, 42);
}
.toggle-bg-v a.active,
.toggle-bg-v button.active {
  background-color: #525252;
  color: #eeeeee;
  margin: 0px;
  padding: 5px 12px 5px 7px;
  border-top-color: #656565;
  border-bottom-color: #383838;
}
.toggle-bg-v a:visited {
  color: #dddddd;
}
.toggle-bg-v a.active:visited {
  color: #eeeeee;
}
.toggle-bg-v a > img,
.toggle-bg-v button > img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
.toggle-bg-v.slim a,
.toggle-bg-v.slim button {
  justify-content: center;
  padding: 2px;
  overflow: hidden;
}
.toggle-bg-v.slim a.active,
.toggle-bg-v.slim button.active {
  justify-content: center;
  padding: 5px;
  overflow: hidden;
}

.down-arrow,
.right-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border: 0.25rlh solid transparent;
}
.down-arrow {
  border-top-color: var(--fg-color);
  transform: translate(0,0.125rlh);
}
.right-arrow {
  border-left-color: var(--fg-color);
  transform: translate(0.125rlh,0);
}

.feat-display-short,
.feat-display-long {
  margin: 0;
  padding: 0.25rlh 1em;
  font-size: smaller;
}
.feat-display-short p,
.feat-display-long p {
  margin: 0;
  padding: 0;
}