:root {
  color-scheme: dark;
  color: #FDF6E3;
  background-color: black;
  background-position: center;
  background-attachment: fixed;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  line-height: 1.5em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: top;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.nobreak {
  white-space: nowrap !important;
}

.big-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  color: #FDF6E3;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 8px solid rgba(0, 0, 0, 0.75);
  background-clip: padding-box;
}

.big-link p {
  font-size: large;
  margin: 8px auto 0px auto;
  padding: 0px;
}

.page-break {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
  background-clip: padding-box;
}
.page-break h1,
.page-break h2,
.page-break h3 {
  margin: 0;
}
.page-break hr {
  border-color: #4b4945;
  width: 100%;
}
.page-break hr:last-of-type {
  width: 80%;
}

a {
  font-weight: 500;
  color: aqua;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
a:visited {
  color: #dda0dd;
}

h1 {
  font-size: xx-large;
  line-height: 1em;
  text-align: center;
  margin: 10px;
}
h1 + h2 {
  font-size: 15pt;
  margin-top: 0;
  text-align: center;
}

span.line {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
li {
  text-align: left;
}


nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: left;
  gap: 8px;
  text-align: left;
}

nav>a {
  background-color: #000000cc;
  display: inline-flex;
  height: 1em;
  line-height: 1em;
  margin: 8px 0 0 0;
  border: 3pt solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 0 0.6em;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav>a.active {
  transform: skew(-16deg);
}

.banded-menu {
  display: flex;
  float: left;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  gap: 2px;
  overflow: scroll;
}
.banded-menu::-webkit-scrollbar {
  display: none;
}
.banded-menu > a {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: none;
  font-weight: 500;
  background-color: #202020;
  color: lightgray;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  /* overflow: hidden; */
}
.banded-menu > a:hover {
  color: #5c60a7;
  background-color: #3d3d3d;
}
.banded-menu > a:visited {
  color: lightgray;
}
.banded-menu > a.curr-path {
  background-color: rgb(61, 60, 57);
}


.page {
  background-color: rgb(16, 16, 16);
  color: #FDF6E3;
  max-width: 500pt;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: 8px solid rgba(16, 16, 16, 0.75);
  background-clip: padding-box;
}

.page aside {
  background-color: #151515;
  margin: 0pt;
  padding: 10pt 20pt;
  border-radius: 16pt;
  border: 4px solid #1B1B1B;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.button-outlined {
  display: inline-flex;
  background-color: transparent;
  color: rgb(204, 204, 204);
  border: 2px solid rgb(204, 204, 204);
  border-radius: 8px;
  margin: 5px;
  padding: 5px 8px;
  align-items: center;
  justify-content: center;
}

.button-outlined:disabled {
  color: rgba(204, 204, 204, 0.59);
  border: 2px solid rgba(204, 204, 204, 0.59);
}

.button-outlined:visited {
  color: rgb(204, 204, 204);
  border: 2px solid rgb(204, 204, 204);
}



body .gist .highlight {
  background: #161616;
}

body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-st {
  color: #e6e1dc;
}

body .gist .pl-c,
body .gist .pl-c span {
  color: #555;
  font-style: italic;
}

body .gist .pl-mb {
  color: #1edafb;
  font-weight: 700;
}

body .gist .pl-mh .pl-en {
  color: #fdc251;
  font-weight: 700;
}

body .gist .pl-mi {
  color: #00698f;
  font-style: italic;
}

body .gist .pl-mq {
  color: #555;
}

body .gist .pl-sc {
  color: #999;
}

body .gist .pl-c1,
body .gist .pl-mh,
body .gist .pl-sr .pl-cce {
  color: #fdc251;
}

body .gist .pl-e,
body .gist .pl-en,
body .gist .pl-ent,
body .gist .pl-s,
body .gist .pl-v,
body .gist .pl-vpf {
  color: #974;
}

body .gist .pl-k,
body .gist .pl-mdh,
body .gist .pl-mdr,
body .gist .pl-ml,
body .gist .pl-mm,
body .gist .pl-mo,
body .gist .pl-mp,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s1 .pl-v,
body .gist .pl-s3 {
  color: #00698f;
}

body .gist .pl-pds,
body .gist .pl-s1,
body .gist .pl-s1 .pl-pse .pl-s2 {
  color: #58c554;
}

body .gist .pl-s1 .pl-s2,
body .gist .pl-sv {
  color: #1edafb;
}

body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-stj,
body .gist .pl-vo {
  color: #be53e6;
}

body .gist .pl-sr,
body .gist .pl-sr .pl-sra,
body .gist .pl-sr .pl-sre,
body .gist .pl-src {
  color: #ff308f;
}

body .gist .pl-mi1,
body .gist .pl-mdht {
  color: #fff;
  background: rgba(0, 64, 0, .5);
}

body .gist .pl-md,
body .gist .pl-mdhf,
body .gist .pl-id,
body .gist .pl-ii {
  color: #fff;
  background: #900;
}
